@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <b><h1 class="display-3">the Contoso Crafts,</h1></b>
    <h1 class="display-4">@Model.Name!</h1>
</div>

